<div class="row">
	<div class="col col-xs-12 col-sm-4 col-sm-offset-4 text-center">
			<% if @result %>
        <div class="icon">
          <img src=<%= asset_path("#{@result[:icon]}.svg") %> alt="">
        </div>

        <h1><%= @result[:header] %></h1>
        <section>
          <p><%= @result[:message] %></p>
        </section>
      <% else %>
        <section>
          <p>Test another transaction or see the Braintree API response.</p>
      	</section>
      <% end %>

      <section>
        <%= link_to "Test another transaction", new_checkout_path, class: "btn btn-primary" %>
      </section>
	</div>
</div>

