$blue: #5db6e8;
$darkBlue: #282c37;
$red: #E53A40;
$green: #8CD790;


.braintree-hosted-fields-focused {
  border-color: $darkBlue;
}

.braintree-hosted-fields-invalid {
  border-color: $red;
}

.braintree-hosted-fields-valid {
  border-color: $green;
}

.container-fluid {
	padding-top: 3em;
}